{% extends "base.html" %}
{% block title %}Eliminar Multa{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2 class="fw-bold mb-3 text-danger">Eliminar Multa</h2>
  <p>¿Estás seguro de que deseas eliminar la multa <strong>{{ object.concepto }}</strong> con monto <strong>Q {{ object.monto }}</strong>?</p>
  
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Sí, eliminar</button>
    <a href="{% url 'lista_multas' %}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
{% endblock %}
